@model List<Model.ViewModel.ProductViewModel>
@{
    var category = (Model.EF.ProductCategory)ViewBag.Category;
    ViewBag.Title = category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>@category.Name</h3>
        </div>
        <div class="see">
            <p><a href="#">See all Products</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in Model)
        {
            var detail = "/detail/" + item.MetaTitle + "-" + item.ID;
            var cart = "/cart/" + item.MetaTitle + "-" + item.ID;

            <div class="grid_1_of_4 images_1_of_4">
                <a href="@detail"><img src="@item.Image" alt="@item.Name" /></a>
                <h2>@item.Name</h2>
                <span>@item.CateName</span>
                <div class="price-details">
                    <div class="price-number">
                        <p>
                            <span class="rupees">
                                @(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Contact")
                            </span>
                        </p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="@cart">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
        <div class="clear"></div>
        <!--pagination-->
        @if (ViewBag.TotalPage > 1)
        {
            var pageDisplay = (int)ViewBag.MaxPage;
            int totalPage = (int)ViewBag.TotalPage;
            int currentPage = ((int)ViewBag.Page);

            //making numeric links
            var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
            var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);                                                                                 

            var link = "/product/" + category.MetaTitle + "-" + category.ID;
            <nav>
                <ul class="pagination">
                    @if (currentPage > ViewBag.First)
                    {
                        <li><a href="@link?page=@ViewBag.First" title="First page" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                        <li><a href="@link?page=@ViewBag.Prev" title="Prev page" class="prev"><i class="fa fa-angle-left"></i></a></li>
                    }
                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                    {
                        if (currentPage == i)
                        {
                            <li><a href="@link?page=@i" title="page @i" class="btn-primary active">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@link?page=@i" title="page @i" class="pos">@i</a></li>
                        }
                    }
                    @if (currentPage < totalPage)
                    {
                        <li><a href="@link?page=@ViewBag.Next" title="Next page" class="prev"><i class="fa fa-angle-right"></i></a></li>
                        <li><a href="@link?page=@ViewBag.Last" title="Last page" class="prev"><i class="fa fa-angle-double-right"></i></a></li>
                    }
                </ul>
            </nav>
        }
        else
        {
            <span>no record</span>
        }
    </div>
</div>
